In [2]:
""" Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42.
Then, print the series. """

import pandas as pd

print(pd.Series([4,8,15,16,23,42]))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
""" Q2. Create a variable of list type containing 10 elements in it, and apply pandas.
Series function on the variable print it. """

import pandas as pd

l=list(range(1,11))
print(pd.Series(l))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
# Q3. Create a Pandas DataFrame that contains the following data:

import pandas as pd

print(pd.DataFrame({"Name":["Alice", "Bob", "Claire"], "Age":[25, 30, 27],
                    "Gender":["Female", "Male", "Female"]}))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
""" Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series?
Explain with an example. """

# ans
""" In the pandas library, a DataFrame is a two-dimensional data structure that
represents tabular data, similar to a table in a relational database or a spreadsheet.
It consists of rows and columns, where each column can hold data of a different type 
(e.g., numbers, strings, or dates). The DataFrame provides a powerful and flexible way to
manipulate, analyze, and visualize data. """

# Example
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30     Paris
2    Bob   35    London

In [10]:
""" On the other hand, a pandas Series is a one-dimensional labeled array that can hold data
of any type. It can be thought of as a single column of a DataFrame. Each element in a 
Series is assigned a unique label or index, which allows for efficient data retrieval
and alignment. """

# Example
# Create a Series
ages = pd.Series([25, 30, 35], name='Age')
print(ages)

0    25
1    30
2    35
Name: Age, dtype: int64

In [ ]:
""" Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame?
Can you give an example of when you might use one of these functions? """

# ans
""" 
1.head() and tail(): These functions allow you to view the first few rows (head()) or 
last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the data 
and getting a glimpse of its structure and content. 

2.info(): This function provides a summary of the DataFrame, including the number of rows,
columns, data types, and memory usage. It helps in understanding the structure and
properties of the DataFrame.

3.describe(): This function generates descriptive statistics of the numerical columns in
the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile
values. It gives a quick overview of the distribution and central tendency of the data.

4.sort_values(): This function sorts the DataFrame based on one or more columns. 
It allows you to arrange the data in ascending or descending order, facilitating data
exploration or identifying patterns.

5.fillna(): This function allows you to fill missing values in the DataFrame with 
specified values, such as a specific number, mean, median, or forward/backward filling.
It helps in handling missing data before further analysis.

6.groupby(): This function enables grouping the DataFrame by one or more columns and
applying aggregate functions on the grouped data. It helps in aggregating and summarizing
data based on specific criteria.
"""

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# ans
""" 
Among the options provided (Series, DataFrame, Panel), the mutable nature is applicable
to DataFrame.

DataFrame is mutable, meaning it can be modified after creation. 
You can add or remove columns, change the values of existing cells, and perform various 
data manipulation operations on a DataFrame.

On the other hand, Series and Panel are immutable in nature. Once created, their values
cannot be changed. If you need to modify a Series or Panel, you typically create a new 
object with the desired changes rather than modifying the existing one directly. """

In [14]:
""" Q7. Create a DataFrame using multiple Series. Explain with an example. """

# Example
import pandas as pd

# Create the Series objects
name_series = pd.Series(['John', 'Alice', 'Bob'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'Paris', 'London'])

# Create the DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}

df = pd.DataFrame(data)
print(df)

""" In this example, we first create three Series objects: name_series, age_series, 
and city_series. Each Series represents a column of data for the DataFrame.

Next, we create a dictionary data where the keys are the column names ('Name', 'Age',
'City') and the values are the corresponding Series objects.

Finally, we use the dictionary data to create a DataFrame df by passing it as an argument
to the pd.DataFrame() function. The resulting DataFrame contains the columns 'Name',
'Age', and 'City', with the values from the respective Series.

Note that the Series must have the same length, or pandas will raise an exception.
The index of each Series will be preserved as the row index in the DataFrame, as shown
in the output above. """

    Name  Age      City
0   John   25  New York
1  Alice   30     Paris
2    Bob   35    London